venv/
env/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
*.cover
*.log
.git/
.gitignore
db/
workspace/
storage/
huggingface_raw_db/
huggingface_ready_for_vector_db/
scratch/
