streamlit
crewai
crewai[tools]
crewai[google-genai]
python-dotenv
pyyaml
litellm
python-telegram-bot
langchain-openai
langchain-community
langchain-google-genai
duckduckgo-search>=5.1.0
requests
langchain-chroma
python-docx
openpyxl
mss
Pillow

